{{!< default}}

{{#post}}
    <div class="project-template-large" >
        <div style="width:100%; height:400px; background-color: whitesmoke; position: absolute; z-index:-1;"></div>
        <div style="display:flex; margin-left:10%; margin-top:50px; ">
            <div>
                <a style="color:red; letter-spacing:2px; font-size:2rem; font-weight:700;" href="/work/">WORK</a>
                <h2 style="margin-top: 30px; margin-bottom:10px; ">{{title}}</h2>
                <div style="width:80%; font-size:2rem; line-height:2.8rem; letter-spacing:1px;">{{custom_excerpt}}</div>
            </div>
            <div style="margin-top: 15px;  margin-right:10%;">
                <div style="width: 550px; height:380px; margin-left:20px; margin-top:20px; background: rgb(253,141,84); background: linear-gradient(90deg, rgb(250, 150, 100) 0%, rgba(246,73,76,1) 100%);  position: absolute; z-index:-1;"></div>
                <img style="max-width: 550px; height:380px; z-index:0" src="{{feature_image}}" />
            </div>
        </div>
        <div style="display:flex; margin-top:50px; justify-content:center; margin-right:100px;">
            <div class="gh-content gh-canvas" style="width: 900px; ">
                {{content}}
            </div>
            <div style="margin-top:50px; ">
                <h4 style="letter-spacing:2px; color:red;">PROJECT TYPE</h4>
                {{#foreach tags}}
                    {{^has slug="_project"}}
                        <div> - {{name}}</div>
                    {{/has}}    
                {{/foreach}}
                <h4 style="letter-spacing:2px; color:red;">TIMELINE</h4>
                {{meta_description}}
                <h4 style="letter-spacing:2px; color:red;">TEAM</h4>
                {{#foreach authors}}
                     - {{name}}
                {{/foreach}}
            </div>
        </div>
    </div>

    <div class="project-template-medium">
        <div  style="">
        <div style="display:flex; width:100%; background-color: whitesmoke;  position:relative; z-index:1;">
            <div style="margin-left:5%; margin-top:30px;  margin-bottom:20px;">
                <a style="color:red; letter-spacing:2px; font-size:2rem; font-weight:700;" href="/work/">WORK</a>
                <h3 style="margin-top: 20px; margin-bottom:10px; letter-spacing:2px;">{{title}}</h3>
                <div style="width:90%; font-size:1.2rem; line-height:1.8rem; letter-spacing:1px;">{{custom_excerpt}}</div>
            </div>
            <div style="margin-top:50px;  margin-right:10%;">
                <div style="width:390px; height:280px;  z-index:2; margin-left:20px; margin-top:20px; background: rgb(253,141,84); background: linear-gradient(90deg, rgb(250, 150, 100) 0%, rgba(246,73,76,1) 100%);  position: absolute;"></div>
                <img style="max-width: 400px; height:280px; z-index:3; position:sticky;" src="{{feature_image}}" />
            </div>
        </div>
        </div>
        <div style="display:flex; margin-top:50px; justify-content:center; margin-left:5%; margin-right:5%;">
            <div class="gh-content gh-canvas" style="width: 900px; ">
                {{content}}
            </div>
            <div style="margin-top:50px; ">
                <h4 style="letter-spacing:1px; width:120%; color:red; font-size:1.7rem; ">PROJECT TYPE</h4>
                {{#foreach tags}}
                    {{^has slug="_project"}}
                        <div> - {{name}}</div>
                    {{/has}}    
                {{/foreach}}
                <h4 style="letter-spacing:1px; width:120%; color:red; font-size:1.7rem; ">TIMELINE</h4>
                {{meta_description}}
                <h4 style="letter-spacing:1px; width:120%; color:red; font-size:1.7rem; ">TEAM</h4>
                {{#foreach authors}}
                    - {{name}}
                {{/foreach}}
            </div>
        </div>
    </div>

    <div class="project-template-small">
        <div style="width:100%; height:110px; background-color: whitesmoke; position: absolute; z-index:-1;"></div>
        <div style="display:flex; margin-left:5%; margin-right:8%; margin-top:10px;">
            <div style="width:100%">
                <a style="color:red; letter-spacing:2px; font-size:1.5rem; font-weight:700;" href="/work/">WORK</a>
                <h4 style="margin-top: 5px;margin-bottom:5px; ">{{title}}</h4>
            </div>
            <div style="margin-top:5px;">
                <div style="width: 152px; height:105px;  z-index:-1; margin-left:5px; margin-top:7px; background: rgb(253,141,84); background: linear-gradient(90deg, rgb(250, 150, 100) 0%, rgba(246,73,76,1) 100%);  position: absolute;"></div>
                <img style="max-width: 150px; height:105px; z-index:0" src="{{feature_image}}" />
            </div>
        </div>
        <div style="margin:5%; margin-top:15px; font-size:1.15rem; line-height:1.3rem; letter-spacing:1px; text-align:center;">{{custom_excerpt}}</div>
        <div class="gh-content gh-canvas" style="margin:5%;">
            {{content}}
        </div>
        <div style="display:flex; justify-content:space-around; margin-left:5%;">
            <div style="width:30%; margin-right:15px; ">
                <h4 style="font-size:1.4rem; color:red;">PROJECT TYPE</h4>
                {{#foreach tags}}
                    {{^has slug="_project"}}
                        <div style="font-size:1.2rem; line-height:1.4rem;"> - {{name}}</div>
                    {{/has}}    
                {{/foreach}}
            </div>
            <div style="width:30%">
                <h4 style="font-size:1.4rem; color:red;">TIMELINE</h4>
                <div style="font-size:1.2rem; line-height:1.4rem;">{{meta_description}}</div>
            </div>
            <div style="width:30%">
                <h4 style="font-size:1.4rem; color:red;">TEAM</h4>
                {{#foreach authors}}
                    <div style="font-size:1.2rem; line-height:1.4rem;"> - {{name}}</div>
                {{/foreach}}
            </div>
        </div>
    </div>
    {{!-- FOOTER --}}

    {{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
        <div style="background-color:whitesmoke; padding:40px; padding-left:100px; padding-right:100px; margin-top:150px;">
            {{#get "posts" include="tags" filter="id:-{{id}} + tag:_project" limit="3" order="desc" as |more_posts| }}
                {{#if more_posts}}
                        <h4 style="letter-spacing:2px; margin-left:40px; font-weight:800;"><a href="/work/">PROJECTS</a></h4>
                        <div class="read-more ">
                            {{#foreach more_posts}}
                                {{> "project-card"}}
                            {{/foreach}}
                        </div>
                {{/if}}
            {{/get}}
        </div> 
    {{/if}}

{{/post}}