{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">
    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="l"}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}
    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            <a href="/about/" class="floating-about-link"></a>
            {{#unless @custom.show_logo_in_navigation}}
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/if}}
            {{/unless}}
            {{#if @site.description}}
                <p class="site-description">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}
</div>

{{!-- The main content area --}}

<main id="site-main" class="site-main outer">

    {{!-- PROJECTS --}}

    <div class="projects-container">
        <div style="text-align:center; font-weight:bold; font-size:15px; letter-spacing:3px; color:red; padding:5px;">OUR WORK</div>
        <h1 style="text-align:center;">Projects</h1>
        <div class="featured-project-feed inner posts">
            {{#get "posts" include="tags" filter="featured:true+tag:'_project'" order="published_at desc" limit=3}}
                {{#foreach posts}}
                    {{> "project-card"}}
                {{/foreach}}
            {{/get}}
        </div>
        <div class="project-feed inner posts">
            {{#get "posts" include="tags" filter="featured:false+tag:'_project'" order="published_at desc" limit=3}}
                {{#foreach posts}}
                    {{> "project-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>

    {{!-- BLOG --}}

    <div class="blog-container-outer">
        <div class="red-bubble"></div>
        <div class="blog-container-inner posts" style="z-index:0">
            <br/>
            <br/>
                <div class="blog-header">
                    <h1 class="blog-card-h1">From the blog</h1>
                    <div>
                        <a style="margin:auto;" href="/all-posts/">
                            <button class="all-posts-button">ALL POSTS</button>
                        </a>
                    </div>
                </div>
                <div class="post-feed">
                    {{#get "posts" include="tags" order="published_at desc" filter="tag:-'_project'+tag:-'_team-member'" limit=3}}
                        {{#foreach posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

    {{!-- TEAM-MEMBERS --}}
    
        <div style="text-align:center; font-weight:bold; font-size:15px; letter-spacing:3px; color:red; margin-top:50px;">DIFFUSION LABS &amp; FRIENDS</div>
        <h1 style="text-align:center; ">The team</h1>
        <div class="member-feed">
            {{!-- USE THE GET BELOW: if you need to change the order of the members--}}
            {{#get "posts" include="tags" filter="tag:_team-member" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "member-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    
</main>

{{!-- EXTRA CODE IF NEEDED --}}

